body {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin: 0;
     padding: 0;
     background: #3086c1;
}
 .logo {
     animation-delay: .8s;
    /* position: fixed;
     */
    /* top: 0;
     */
     background: #fff;
     box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);
     padding: 5px 30px 15px 30px;
     max-width: 190px;
}
 footer {
    animation-delay: 1.2s;
    position: fixed;
    bottom: -6px;
    left: calc(50% - 200px);
}
 h2 {
     animation-delay: .3s;
     font-family: 'Alegreya Sans SC', sans-serif;
     color: #fff;
     max-width: 550px;
     text-align: center;
     font-weight: 100;
     padding-top: 3%;
     font-size: 49px;
     line-height: 55px;
     margin: 30px 0 10px 0;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    text-align: center;
}

 input {
    background: none;
    border: 0;
    color: #fff;
    text-align: center;
    width: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600;
    pointer-events: none;
    cursor: none;
}
 .button {
     cursor: pointer;
     display: inline-block;
     min-height: 1em;
     outline: 0;
     border: none;
     vertical-align: baseline;
    /* background: #e0e1e2 none;
     */
     color: #fff;
     font-family: 'Alegreya Sans SC', sans-serif;
     margin: 0 .25em 0 0;
     padding: .78571429em 1.5em .78571429em;
     text-transform: none;
     text-shadow: none;
     font-weight: 700;
     line-height: 1em;
     font-style: normal;
     text-align: center;
     text-decoration: none;
     border-radius: .28571429rem;
     box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
     transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
     will-change: '';
     -webkit-tap-highlight-color: transparent;
     border: 2px solid #ddd;
}
 .fullscreen-bg {
     position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
 .fullscreen-bg video {
     opacity: 0.7;
     position: absolute;
     top: 50%;
     left: 50%;
     width: auto;
     height: auto;
     min-width: 100%;
     min-height: 100%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
 .responsive-devices {
     position: fixed;
     bottom: -6px;
     left: calc(50% - 200px);
}



/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    font-size: 18px;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}
.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}


/* Aylen */
.button.button--aylen {
    /* background: #fff; */
    color: #fff;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.button--aylen.button--inverted {
    background: none;
    color: #fff;
}
.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
    background: #dd3131;
}
.button--aylen::after {
    background: #e84546;
}
.button--aylen:hover {
    color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

@media all and (max-width: 400px) {
 h2 {
    font-size: 40px !important;
 }

 .actions-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    
 }

 .actions-buttons a {
        margin: 15px;
    }

 footer {
    position: relative;
    left: calc(50% - 172px);
 }

 footer img {
    width: 300px;
 }
}

